
.rce-mbox.rce-mbox-right {
  background-color: #005c4e;
}



/* Styles for receiver's message */
.rce-mbox:not(.rce-mbox-right) {
  background-color: #2e2e2e;
 
  /* White for receiver */
}

/* Text color for both sender and receiver */
.rce-mbox-text {
  color: #FFFFFF;
  font-size: 16px;
  /* Black text for both */
}

/* Optional: Customize the tail color */
.rce-mbox-right-notch {
  fill: #DCF8C6;
  /* Match sender background */
  display: none;
}

.rce-mbox-left-notch {
  display: none;
  fill: #FFFFFF;
  /* Match receiver background */
}

.rce-mbox-time{
  color: #c9c9c9;
}