.video-call-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.remote-video-player {
  position: relative;
  width: 1200px;
  height: 670px;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 10px;
  
}

.local-video-player {
  position: absolute;
  width: 240px;
  height: 180px;
  padding: 10px;
  right: 20px;
  bottom: 20px;
  background-color: #cac0c0;
  z-index: 1200;
}



.controls {
  display: flex;
  gap: 10px;
}